body{
	background-image: url("../images/fonSale.jpeg");
	background-size: 100%;
	background-attachment: fixed;
}

.navbar-brand {
	padding: 5px;
}

main-page tr button {
	padding: 1px;
	width: 100%;
	font-size: 70%; 
	color: #000000;
}

.bordered {
	border: solid 1px #ffffff;
	border-radius: 3px;
	padding: 15px;
	margin: 5px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.4);
}

main-page table {
	margin-bottom: 15px;
}

.view {
	margin-top: 50px;
}

.modal-body button {
	width: 60%;
}

.modal-dialog {
	text-align: center;
}

.buttonStyle {
	background-color: red;
}

.text-center h2 {
	color: #ffffff;
}