<div class="wrapper" ng-if="!$root.access">
	<div class="form-signin">		
		<form>
			<h2 class="form-signin-heading text-center">Будь ласка авторизуйтесь</h2>
			<span ng-show="$ctrl.authenticationError" class="help-block text-center"> Ви ввели невірний логін або пароль, повторіть спробу</span>
			 <input id="login" ng-model="$ctrl.username" type="text" class="form-control" required="required" placeholder="Ім'я користувача" autofocus />
			 <input id="password" ng-model="$ctrl.password" type="password" class="form-control" required="required" placeholder="Пароль" />
			<button ng-click="$ctrl.login()" class="btn btn-primary btn-block">Увійти</button>
		</form>		
		<form action="signin/facebook" method="POST" class="">
		  <h2 class="form-signin-heading text-center">Facebook авторизація</h2>
			<input type="hidden" name="scope" value="public_profile" />
			<button type="submit" class="btn btn-primary btn-block">Увіти через Facebook</button>
		</form>		
	</div>
</div>