<!DOCTYPE html">
<html ng-app="ticketApp" ng-cloak>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<navbar></navbar>
	<div class="container-fluid">
		<login-page ng-cloak ng-if="!access"></login-page>
		<div ng-cloak ng-if="access" ng-view class="view"></div>
	</div>
</body>

<!-- Bootstrap -->
<link href="resources/dist/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="resources/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Page CSS -->
<link href="resources/css/main-page.css" rel="stylesheet">
<link href="resources/css/game-list.css" rel="stylesheet">
<link href="resources/css/login.css" rel="stylesheet">
<link href="resources/css/subscription-page.css" rel="stylesheet">

<!-- jQuery CSS -->
<link href="resources/dist/css/jquery/jquery-ui.css" rel="stylesheet">

<!-- Angular Material style sheet  -->
<link href="resources/css/angular-material/angular-material.min.css" rel="stylesheet"> 
 
<!-- mdPickers CSS -->
<link href="resources/css/mdPickers/mdPickers.min.css" rel="stylesheet"> 

<!-- jQuery -->
<script src="resources/dist/jQuery/jquery.min.js"></script>
<script src="resources/dist/jQuery/jquery.js"></script>
<script src="resources/dist/jQuery/jquery-ui.js"></script>

<!-- Bootstrap JS -->
<script src="resources/dist/bootstrap/js/bootstrap.js"></script>

<!-- Angular JS -->
<script src="resources/dist/angular/angular.js"></script>
<script src="resources/dist/angular/angular-resource.js"></script>
<script src="resources/dist/angular/angular-route.js"></script>

<!-- ui-bootstrap JS -->
<script src="resources/dist/js/ui-bootstrap/ui-bootstrap.js"></script>

<!-- Angular Material requires libraries -->
<script src="resources/dist/js/angular-material/angular-animate.min.js"></script>
<script src="resources/dist/js/angular-material/angular-aria.min.js"></script>

<!-- Angular Material Library -->
<script src="resources/dist/js/angular-material/angular-material.min.js"></script>

<!-- Angular Moment JS -->
<script src="resources/dist/js/moment/moment.js"></script>
<script src="resources/dist/js/moment/angular-moment.js"></script>

<!-- mdPickers -->
<script src="resources/dist/js/angular-material/mdPickers/mdPickers.min.js"></script>

<!-- Angular modules definition -->
<script src="resources/app.module.js"></script>
<script src="resources/modules/navbar/navbar.module.js"></script>
<script src="resources/modules/login-page/login-page.module.js"></script>
<script src="resources/modules/main-page/main-page.module.js"></script>
<script src="resources/modules/game-list/game-list.module.js"></script>
<script src="resources/modules/subcription-page/subscription-page.module.js"></script>
<script src="resources/modules/sector-page/sector-page.module.js"></script>

<script src="resources/app.config.js"></script>

<!-- Navbar -->
<script src="resources/modules/navbar/navbar.component.js"></script>
<script src="resources/modules/navbar/navbar.service.js"></script>

<!-- Login -->
<script src="resources/modules/login-page/login-page.component.js"></script>
<script src="resources/modules/login-page/login-page.service.js"></script>

<!-- Main Page -->
<script src="resources/modules/main-page/main-page.component.js"></script>
<script src="resources/modules/main-page/main-page.service.js"></script>

<!-- Games -->
<script src="resources/modules/game-list/game-list.component.js"></script>
<script src="resources/modules/game-list/game-list.service.js"></script>

<!-- Subscription -->
<script src="resources/modules/subcription-page/subscription-page.component.js"></script>
<script src="resources/modules/subcription-page/subscription-page.service.js"></script>

<!-- Sector -->
<script src="resources/modules/sector-page/sector-page.component.js"></script>
<script src="resources/modules/sector-page/sector-page.service.js"></script>

</html>

